<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="app.js"></script>
        <script src="vue.js"></script>
        <title>AeroBook</title>
    </head>
    <body>
        <div id="login-component" class="login-component">
            <h1>LOGIN</h1>
            <input v-model="user" type="text" placeholder="Username"/>{{user}}
            <input v-model="pass" type="password" placeholder="Password"/>{{pass}}
            <button v-on:click="login()">Login</button>
            <h1>{{ message }}</h1>
        </div>
    </body>
</html>